#foo {
    width: 100px;
    height: 100px;
    background: red;
    animation-name: bgChange;
    animation-duration: 3s;
}

@keyframes bgChange {
    0% {
        background-color: #ff0000;
    }

    25% {
        background-color: #ff5900;
    }

    50% {
        background-color: #ffe600;
    }

    75% {
        background-color: #bbff00;
    }

    100% {
        background-color: #2fff00;
    }
}

